*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
.Foros{
	margin: 20px auto;
    width: 85%;
    border: 2px solid #ccc;
}
.Foros p{
	background-color: #bfe7ff;
}
.ListaF{
	height: 150px;
	overflow: auto;
}
