*{
	margin: 0;
	padding: 0;
}
	*, *:after, *:before { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

img {
  border: 0;
  display: block;
  width: 100%;
  cursor: pointer;
}

.grid {
	list-style: none;
	padding: 1;
	margin-left: 45px;
}
.grid .item {
	display: block;
	float: left;
	padding: 2px;
	width: 25%;
	opacity: 1;
	position: relative;
}
.grid .item a,.grid .item img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}
.grid.effect-2 .item.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}
@media screen and (max-width: 1300px) {
	.grid .item {width: 33%;}
}
@media screen and (max-width: 900px) {
	.grid .item {width: 50%;}
}
@media screen and (max-width: 500px) {
	.grid .item {width: 100%;}
}