*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
.Lateral{
	margin: 5px;
	width: 20%;
	height: 500px;
	background-color: #bfe7ff;
	border-radius: 5px;
	float: right;
	padding: 5px;
}
.Publicar{
	margin: 15px auto;
	position: relative;
	width: 80%;
	height: 50px;
	background-color: #B8F4FF;
	line-height: 50px;
	text-align: center;
	display: block;
	border-radius: 5px;
	position: relative;
	}
.Publicar a{
	color: #219ac6;
}
.Publicar:hover {
	background-color: #6CE8FF;
	
	cursor: pointer;

}
.Publicar:hover a{
	color: white;
}
.Publicar a:focus{
	color: #6CE8FF;

}
.Recomendados{
	height: 150px;

}