#Barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #219ac6;
   

}
#Barra a {
     display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}
#Barra a:hover {
    background-color: #1c83a8;
}

/* ---------- INICIAR SESION ---------- */

input[type="submit"] { cursor: pointer; }
#Sesion {
    margin: 50px auto;
    width: 300px;
    visibility: hidden; 
}
#Sesion h1 {
    background-color: #219ac6;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
#Sesion fieldset {
    border: none;
    margin: 0;
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
}
#Sesion input[type="email"],
#Sesion input[type="password"] {
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 238px;
}
#Sesion input[type="email"] {
    border-radius: 3px 3px 0 0;
}
#Sesion input[type="password"] {
    border-top: none;
    border-radius: 0px 0px 3px 3px;
}
#Sesion input[type="submit"] {
    background: #219ac6;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 20px;
}

#Sesion input[type="submit"]:hover { background: #1c83a8; }

/*------------- REGISTRO----------------*/
#titulo{
    background-color: #219ac6;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
#Datos{
    margin: 50px auto;
    width: 70%;
    background-color: #bfe7ff;
    border-radius: 10px 10px 10px 10px;
}
#Datos p{
    font-size: 18px;
    font-family: 
}
#columna {
    float: left;
    width: 45%;
    padding: 15px;
}

#fila:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width:600px) {
    .column {
        width: 100%;
    }
}


